# Datasets - as requested
datasets/traffic/images
datasets/traffic/labels
datasets/raw
tmp_savedmodel_for_coreml/
synth/

# Python cache
__pycache__/
*.pyc

# ML training runs and logs
#runs/

# Environment variables
.env

# Virtual environment
venv/